<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= raw t(".message",
    url_help: link_to(t(".url_help"), "http://www.railstutorial.org/help"),
    url_book: link_to(t(".url_book"), "http://www.railstutorial.org/book")) %>
</p>
