<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= raw t(".message",
    url_help: link_to(t(".url_help"), t(".url_help_path")),
    url_book: link_to(t(".url_book"), t(".url_book_path"))) %>
</p>
